html {
    font-family: 'Press Start 2P', cursive;
    /* font-family: 'Righteous', cursive; */
}

#home {
    background-image: url("viber_image_2021-04-25_00-30-37.jpg");
    background-repeat: repeat;
}

#homeTitle {
    /* grid-area: homeTitle; */
    /* background-color: red; */
    width: 500px;
    /* position: relative; */
    /* top: 50%; */
    text-align: center;
    margin: 100% 0 0 180%;
}

button {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

p, a {
    font-size: 10px;
}

header {
    position: relative;
    grid-area: header;   
    margin: 0px 0px -10px 0px;
    padding: 20px;
    font-size: 16px;
}

header h1 {
    position: relative;
    margin-left: 35%;
    background-color: black;
    display: inline;
    text-align: center;
    color: silver;
}

#instrTitle {
    color: gold;
}

header a {
    color: white;
    display: inline;
}

a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 10px 10px;
    position: relative;
}

a:hover {
    color: blue;
}

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: blue;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
a:hover:after { 
      width: 100%; 
      left: 0; 
}

span {
    white-space: pre;
}

#instr {
    width: 600px;
    padding: 20px;
    margin: 100px 0px 0px 0px;
    /* background-color: blue; */
}

li {
    color: white;
    font-size: 14px;
    width: 100%;
    margin: 0px 0px 15px 0px;

    /* background-color: turquoise; */
}


ul {
    margin: 0px 0px 25px 0px;
}

ul > li > ul > li {
    font-size: 12px;
    color: silver;
}

.source, .target, #slika1, #slika2, #slika3, #slika4, #slika5, #slika6 {
    height: 100px;
    width: auto;
    background-color: #ccc;
}

.target:hover {
    cursor: move;
}

.target {
    margin: 0px 0px 10px 0px;
}

#board {
    grid-area: board;
    background-color: gold;
    text-align: center;
    padding: 20px;
    border-radius: 70px;
    border-style: double;
    border-width: 7px;
    /* height: 700px; */
    margin: 0px 70px 0px 0px;
} 

#board * {
    background-color: gold;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    /* float: left; */
    display: inline-block;
    /* margin: 0px 20px 0px 0px; */
}



#left {
    grid-area: leftArea;
    position: relative;
    /* display: table-cell; */
    /* white-space: nowrap; */
    /* overflow-x: auto; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* height: 70%; */
    background-color: wheat;
    margin: 0px 30px 0px 20px;
    padding: 20px;
    height: 550px;
    border-radius: 50px;
    border-style: double;
    border-width: 5px;
    border-color: silver;
}

#left * {
    background-color: transparent;
    display: inline-block;
}

#left-down {
    /* display: inline-block; */
    grid-area: left-down;
    background-color: white;
    margin: 20px 30px 0px 20px;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    border-style: double;
    border-width: 5px;
}

footer {
    grid-area: footer;
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px
}

canvas {
    /* background-color: lightblue !important; */
    background-image: url("ceste.png");
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas: 
    "header header header"
    "leftArea board board"
    "left-down board board"
    "footer footer footer"
    ;
} 