html {
    font-family: 'Press Start 2P', cursive;
    /* font-family: 'Righteous', cursive; */
}

span {
    white-space: pre;
}

.source, .target, #slika1, #slika2, #slika3, #slika4, #slika5, #slika6 {
    width: 150px;
    height: 100px;
    background-color: #ccc;
}

.target:hover {
    cursor: move;
}

.target {
    margin: 0px 0px 10px 0px;
}

header {
    grid-area: header;   
    background-color: black;
    display: block;
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 0px 0px -20px 0px;
}

article {
    grid-area: article;
}

#board {
    grid-area: board;
    background-color: gold;
    text-align: center;
    padding: 20px;
    border-radius: 70px;
    border-style: double;
    border-width: 7px;
    margin: 0px 70px 0px 0px;
} 

#board * {
    background-color: gold;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
    /* float: left; */
    display: inline-block;
    /* margin: 0px 20px 0px 0px; */
}



#left {
    grid-area: left;
    background-color: white;
    margin: 0px 30px 0px 20px;
    padding: 0px 0px 0px 20px;
    border-radius: 50px;
}

#left-down {
    grid-area: left-down;
    background-color: white;
    margin: 20px 30px 0px 20px;
    padding: 0px 0px 0px 20px;
    border-radius: 50px;
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 20px
}

canvas {
/*     background-color: lightblue !important; */
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row-gap: 10px;
    /* grid-column-gap: 10px; */
    grid-template-areas: 
    "header header header"
    "left board board"
    "left-down board board"
    "footer footer footer"
    ;
}
